@import url("http://fonts.googleapis.com/css?family=Lato:300,400,600");
/* @import url("https://fonts.googleapis.com/css2?family=Aleo:300,400,600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@300;400;500;600&display=swap");

.overall {
  height: 100%;
  width: 100%;
}

.overall::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 350px) {
  .overall {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 350px) {
  .overall {
    height: 100vh;
    width: 100vw;
  }
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

body {
  background-color: #1b1b1b;
  /* background-color: brown; */
  /* background-color: whitesmoke; */
  color: beige;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
}

h6 {
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
  text-align: center;
}

h5 {
  font-weight: 600;
  font-size: 20px;
  margin: 0px;
  text-align: center;
}

h4 {
  font-weight: 400;
  font-size: 22px;
  margin: 0px;
  margin-top: 2px;
  text-align: center;
  color: #e2b22b;
  font-family: 'Aleo', serif;
}

h3 {
  font-weight: 600;
  font-size: 22px;
  margin: 0px;
  margin-top: 2px;
  text-align: center;
  color: #e2b22b;
  font-family: 'Aleo', serif;
}

h2 {
  font-size: 24px;
  /* color: #2e2e2e; */
  font-weight: 600;
  letter-spacing: 4px;
}

h1 {
  font-weight: 600;
  margin: 0px;
  font-size: 26px;
  text-align: center;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar */

.navbar {
  background-color: #e2b22b;
  border-radius: 12px;

  margin: 10px;
  /* text-align: center; */
  display: flex;

  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  margin: 5px;
}

.logo-tipo {
  margin: 5px;
  margin-left: 20px;
  font-size: 48px;
  /* color: #262626; */

  font-family: 'Pridi', serif;
}

@media screen and (max-width: 900px) {
  .logo {
    width: 75px;
    margin: 5px;
  }

  .logo-tipo {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;

    display: none;
  }
}

/* Menu layout */

.category-container {
  background-color: #262626;

  border-radius: 12px;
  margin: 10px;

  user-select: none;
}

.category-padding {
  padding: 15px;
  padding-right: 0px;
}

.category-padding-full {
  padding: 15px;
}

.divider-solid-yellow {
  border-top: 4px solid #e2b22b;
  border-radius: 5px;
  margin-top: 7px;
  margin-bottom: 15px;
  width: 85%;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: brown; */
}

.item-container-height {
  height: 90px;
  overflow-y: scroll;
}

.item-container::-webkit-scrollbar {
  display: none;
}

.item-container-height::-webkit-scrollbar{
  display: none;
}

.item-margin-bottom {
  margin-bottom: 10px;
}

.item-name {
  grid-column: 1/ span 2;
  /* background-color: #e2b22b; */
}

.category-center {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.item-price {
  text-align: right;
  grid-column: 3;
  width: 50px;
}

.item-margin-right {
  margin-right: 20px;
}

.color-change {
  background-color: #2e2e2e;
  height: 100%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.item-description {
  text-align: justify;
  grid-column: 1/ span 2;
  /* font-style: italic; */
  font-weight: 200;
  font-size: 16px;
}

.item-category {
  text-align: justify;
  grid-column: 1/ span 2;
  /* font-style: italic; */
  font-weight: 200;
  font-size: 16px;

  color: #e2b22b;
}


/* Control Panel */

.grid {
  display: grid;
  /* background-color: aliceblue; */
  /* grid-template-columns: repeat(4, 1fr); */
}

.panel-grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
}

.form-width {
  width: 40%;
}

@media screen and (min-width: 350px) {
  .grid, .panel-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .grid, .panel-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.vertical-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
  /* background-color: #e2b22b; */
}

/* Material Icons */

.big-icon {
  font-size: 64px;
  /* margin: 35px; */
  /* margin: 15px; */
}

.button {
  cursor: pointer;
  user-select: none;
}

.action-button {
  /* background-color: #e2b22b; */
  border: 2px solid #e2b22b !important;
  background-color: #262626;

  color: white !important;
  margin-top: 15px;
}

.force-white-text {
  color: white !important;
}

.button-height {
  height: 120px;
  overflow-y: scroll;
}

.button-height::-webkit-scrollbar{
  display: none;
}

.panel-nav {
  background-color: #e2b22b;
  border-radius: 12px;

  margin: 10px;
  /* text-align: center; */
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 5px;
}

.panel-section-border {
  border: 2px solid #e2b22b;
  border-radius: 12px;

  margin: 10px;
  /* text-align: center; */
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 5px;

  /* color: #e2b22b; */
}

.panel-section {
  background-color: #262626;

  border-radius: 12px;
  margin: 10px;
  padding: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #262626;
  text-align: right;
  font-weight: 200;
  font-size: 12px;
  padding: 1px;
}

.as-footer {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  /* width: 100%; */
  /* background-color: #1b1b1b; */
}

.letter-spacing {
  letter-spacing: 3px;
}

.popup-input {
  /* background-color: #e2b22b; */
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;

  /* width: 100%; */
  border-radius: 12px;
  padding: 5px;
  margin-bottom: 5px;
  width: 90%;

  border: 2px solid #2b2b2b;
  /* padding-left: 10px; */
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align-last:center;

  /* display: block; */
  font-size: 20px;
  color: black;
  font-family: Tahoma, sans-serif;
}

.disabled {
  background-color: burlywood;
}

.delete {
  display: none;
}

.animation {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.Modal {
  position: absolute;
  background-color: #262626;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  border-radius: 15px;
  padding: 10px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.marginator {
  margin: 15px;
}

.cancel {
  background-color: brown;
  color: white;
}